



.profile {
    position: relative;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnub98gyoXNvkPnyOWxTE1zzAQiP1aeYceGA&usqp=CAU");
    background-position: center;
    background-size: 100%;
}
